<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/login-empresa']" expand="block" color="primary">Empresa</ion-button>

        <ion-button  expand="block" color="danger">Aspirante</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>}
