<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro Empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup] ="formEmpresa" (ngSubmit)="crear()">
      <ion-item lines="full">
        <ion-label position="floating">Tipo de documento </ion-label>
        <ion-select  [(ngModel)]="selectedValue"  (change)="print()" okText="Okay" cancelText="Dismiss" formControlName='tipodocumento_idtipodocumento'>
        <ion-select-option *ngFor="let t of tipodocumentos" value="{{t.idtipodocumento}}">
          {{t.descripcion}}
        </ion-select-option>
        </ion-select>
        <span class="form-text text-danger" *ngIf="campoEsValido('tipodocumento_idtipodocumento')">
          Campo Requerido
        </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">RUC/Cédula</ion-label>
        <ion-input type="text"  formControlName='ruc_cedula' (change)="validadorDeCedula(); validadorDeRuc();" ></ion-input>
        <span class="form-text text-danger" *ngIf="campoEsValido('ruc_cedula')">
          Campo Requerido
        </span>
        <small *ngIf="!validador && selectedValue==='1'" class="text-danger">
          Escriba un número de cédula válido
        </small>
        <small *ngIf="!validadorruc && selectedValue==='2'" class="text-danger">
          Escriba un número de ruc válido
        </small>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Tipo de Persona: </ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" formControlName='tipopersona_idtipopersona'>
        <ion-select-option  *ngFor="let t of tipopersonas" value="{{t.idtipopersona}}">
          {{t.descripcion}}</ion-select-option>
        </ion-select>
        <span class="form-text text-danger" *ngIf="campoEsValido('tipopersona_idtipopersona')">
          Campo Requerido
        </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating" >Razón Social</ion-label>
        <ion-input type="text"   formControlName='razonsocial'></ion-input>
        <span class="form-text text-danger" *ngIf="campoEsValido('razonsocial')">
          Campo Requerido
        </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Nombre Comercial</ion-label>
        <ion-input type="text"  formControlName='nombrecomercial' ></ion-input>
        <span class="form-text text-danger" *ngIf="campoEsValido('nombrecomercial')">
          Campo Requerido
        </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Tipo de Empresa: </ion-label>
        <ion-select okText="Okay" cancelText="Dismiss"  formControlName='tipoempresa_idtipoempresa' >
        <ion-select-option *ngFor="let t of tipoempresas" value="{{t.idtipoempresa}}">
          {{t.descripcion}}
        </ion-select-option>

      </ion-select>
      <span class="form-text text-danger" *ngIf="campoEsValido('tipoempresa_idtipoempresa')">
        Campo Requerido
      </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Actividad Economica </ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" formControlName='actividadeconomica_idactividadeconomica' >
        <ion-select-option *ngFor="let a of actividadeconomicas" value="{{a.idactividadeconomica}}">
          {{a.descripcion}}
        </ion-select-option>

      </ion-select>
      <span class="form-text text-danger" *ngIf="campoEsValido('actividadeconomica_idactividadeconomica')">
        Campo Requerido
      </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Rama de Actividad </ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" formControlName='ramaactividad_idramaactividad'>
        <ion-select-option  *ngFor="let r of ramaactividads" value="{{r.idramaactividad}}">
          {{r.descripcion}}
        </ion-select-option>

      </ion-select>
      <span class="form-text text-danger" *ngIf="campoEsValido('ramaactividad_idramaactividad')">
        Campo Requerido
      </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Ciudad</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" formControlName='ciudad_idciudad'>
        <ion-select-option *ngFor="let c of ciudades"  value="{{c.idciudad}}">
          {{c.nombreciudad}}</ion-select-option>
        </ion-select>
        <span class="form-text text-danger" *ngIf="campoEsValido('ciudad_idciudad')">
          Campo Requerido
        </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Provincia</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss"  formControlName='provincia_idprovincia'>
        <ion-select-option *ngFor="let p of provincias"  value="{{p.idprovincia}}">
          {{p.nombreprovincia}}</ion-select-option>
        </ion-select>
        <span class="form-text text-danger" *ngIf="campoEsValido('provincia_idprovincia')">
          Campo Requerido
        </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Sector</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" formControlName='sector_idsector'>
        <ion-select-option *ngFor="let s of sectores" value="{{s.idsector}}">
          {{s.descripcion}}</ion-select-option>
        </ion-select>
        <span class="form-text text-danger" *ngIf="campoEsValido('sector_idsector')">
          Campo Requerido
        </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating" >Calle Principal</ion-label>
        <ion-input type="text" formControlName='calleprincipal'></ion-input>
        <span class="form-text text-danger" *ngIf="campoEsValido('calleprincipal')">
          Campo Requerido
      </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Calle Secundaria</ion-label>
        <ion-input type="text"  formControlName='callesecundaria'></ion-input>
        <span class="form-text text-danger" *ngIf="campoEsValido('callesecundaria')">
          Campo Requerido
      </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Referencia</ion-label>
        <ion-input type="text"  formControlName='referencia'></ion-input>
        <span class="form-text text-danger" *ngIf="campoEsValido('referencia')">
          Campo Requerido
      </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Mz</ion-label>
        <ion-input type="text"  formControlName='mz'></ion-input>
        <span class="form-text text-danger" *ngIf="campoEsValido('mz')">
          Campo Requerido
      </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Villa</ion-label>
        <ion-input type="text"  formControlName='villa'></ion-input>
        <span class="form-text text-danger" *ngIf="campoEsValido('villa')">
          Campo Requerido
      </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Teléfono de Celular </ion-label>
        <ion-input [(ngModel)]="telCelularValue" (change)="validadorDeTelefonoCelular()" type="text" formControlName='celular'></ion-input>
        <span class="form-text text-danger" *ngIf="campoEsValido('celular')">
          Campo Requerido
      </span>
      <small *ngIf="!validadorDeTelCelular" class="text-danger">
          Escriba un teléfono válido
      </small>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Teléfono de Oficina</ion-label>
        <ion-input   [(ngModel)]="telOficinaValue" (change)="validadorDeTelefonoOficina()"  type="text"  formControlName='telefonooficina'></ion-input>
        <span class="form-text text-danger" *ngIf="campoEsValido('telefonooficina')">
          Campo Requerido
      </span>
      <small *ngIf="!validadorDeTelOficina" class="text-danger">
          Escriba un teléfono válido
      </small>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Pagina Web (Opcional)</ion-label>
        <ion-input type="text"  formControlName='paginaweb'></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Correo  electrónico</ion-label>
        <ion-input type="text" formControlName='correo'></ion-input>
        <span class="form-text text-danger" *ngIf="campoEsValido('correo')">
          Campo Requerido
      </span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [type]="hide ? 'password' : 'text'"  formControlName='contrasenia' ></ion-input>
        <!-- <mat-icon class=" field-icon " (click)="show()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
        <span class="form-text text-danger" *ngIf="campoEsValido('contrasenia')">
          Campo Requerido
      </span>
      </ion-item>


    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" >Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
