<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>perfil-empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-card-title>
      Tipo de Documento
    </ion-card-title>
    <p>{{tipodocumentoDesc}}</p>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>
      RUC/Cédula
    </ion-card-title>
    <p>{{ruc_cedula}}</p>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>
      Nombre Comercial
    </ion-card-title>
    <p>{{nombrecomercial}}</p>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>
     Razon Social
    </ion-card-title>
    <p>{{razonsocial}}</p>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>
      Tipo de Persona
    </ion-card-title>
    <p>{{tipopersonaDesc}}</p>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>
      Ciudad
    </ion-card-title>
    <p>{{ciudadDesc}}</p>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>
      Provincia
    </ion-card-title>
    <p>{{provinciaDesc}}</p>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>
      Sector
    </ion-card-title>
    <p>{{sectorDesc}}</p>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>
      Calle principal
    </ion-card-title>
    <p>{{calleprincipal}}</p>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>
      Calle secundaria
    </ion-card-title>
    <p>{{callesecundaria}}</p>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>
      Rama
    </ion-card-title>
    <p>{{ramaDesc}}</p>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>
      Mz
    </ion-card-title>
    <p>{{mz}}</p>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>
      Villa
    </ion-card-title>
    <p>{{villa}}</p>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>
      Referencia
    </ion-card-title>
    <p>{{referencia}}</p>
  </ion-card-content>

</ion-content>
